<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:unless value="$(arg sim_mode)">
        <ros2_control name="Bearmax" type="system">
            <hardware>
                <plugin>bearmax_hardware/BearmaxArduino</plugin>
                <param name="device">/dev/pts/10</param>
                <param name="baud_rate">57600</param>
                <param name="timeout">180000</param>
            </hardware>
            <!-- Chassis Joints -->
            <joint name="chassis_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <!-- Head Joints -->
            <!-- Head Platform -->
            <joint name="head_platform_roll_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="head_platform_pitch_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="head_platform_yaw_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <!-- Ears -->
            <joint name="left_ear_rotator_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="left_ear_pitch_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="right_ear_rotator_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="right_ear_pitch_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            -->
            <!-- Left Arm Joints -->
            <joint name="left_arm_shoulder_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="left_arm_rotator_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="left_arm_elbow_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <!-- Right Arm Joints -->
            <joint name="right_arm_shoulder_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="right_arm_rotator_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
            <joint name="right_arm_elbow_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">180</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
        </ros2_control>
    </xacro:unless>
</robot>
