<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!--
                <plugin>mock_components/GenericSystem</plugin>
                -->
                <plugin>bearmax_hardware/BearmaxArduino</plugin>
                <!-- Using /dev/pts/7 in place of actual serial port -->
                <param name="device">/dev/ttyACM0</param>
                <param name="baud_rate">57600</param>
                <param name="timeout">180000</param>
            </hardware>
            <joint name="left_ear_rotator_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_ear_rotator_joint']}</param>
                </state_interface>
            </joint>
            <joint name="left_ear_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_ear_pitch_joint']}</param>
                </state_interface>
            </joint>
            <joint name="right_ear_rotator_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_ear_rotator_joint']}</param>
                </state_interface>
            </joint>
            <joint name="right_ear_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_ear_pitch_joint']}</param>
                </state_interface>
            </joint>
            <joint name="left_arm_shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_shoulder_joint']}</param>
                </state_interface>
            </joint>
            <joint name="left_arm_rotator_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_rotator_joint']}</param>
                </state_interface>
            </joint>
            <joint name="left_arm_elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_elbow_joint']}</param>
                </state_interface>
            </joint>
            <joint name="right_arm_shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_shoulder_joint']}</param>
                </state_interface>
            </joint>
            <joint name="right_arm_rotator_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_rotator_joint']}</param>
                </state_interface>
            </joint>
            <joint name="right_arm_elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_elbow_joint']}</param>
                </state_interface>
            </joint>
            <joint name="head_platform_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head_platform_pitch_joint']}</param>
                </state_interface>
            </joint>
            <joint name="head_platform_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head_platform_roll_joint']}</param>
                </state_interface>
            </joint>
            <joint name="head_platform_yaw_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head_platform_yaw_joint']}</param>
                </state_interface>
            </joint>
            <joint name="chassis_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['chassis_joint']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
