<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="wearable_sensor_package" type="sensor">
        <hardware>
            <plugin>bearmax_hardware/WearableSensorPackageHardware</plugin>
            <param name="device_id">B0:4A:6A:42:A2:7F</param>
            <param name="gsr_uuid">00000403-1212-EFDE-1523-785FEABCD123</param>
        </hardware>
        <sensor name="wsp_sensor">
            <state_interface name="gsr" />
        </sensor>
    </ros2_control>
</robot>
